h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: 'Inter', sans-serif;
	line-height: normal;	
	scroll-behavior: smooth;
}
:root {
	--light-color: #f5f5f7;
	--dark-color: #221f20;
	--container-padding: 0 13%;
	--footer-padding-inline: 10%;
	--gap: 1.8vw;
	@media screen and (max-width: 769px) {
		--container-padding: 0 6%;
		--footer-padding-inline: 6%;
	}
	@media screen and (max-width: 561px) {
		--gap: 5vw;
	}
	@media screen and (max-width: 376px) {
		--container-padding: 0 15px;
		--footer-padding-inline: 15px;
	}
}

.container {
	padding: var(--container-padding);
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	min-height: 38px;
	width: 160px;
	padding: 3px 15px;
	background: rgba(217, 217, 217, 0);
	border: 1px solid var(--light-color);
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	cursor: pointer;
	transition: font-weight 0.3s ease-out, box-shadow 0.3s ease-out;
	&:hover {
		font-weight: 500;
		box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.4);
	}
	@media screen and (max-width: 376px) {
		min-height: 30px;
		width: 120px;
		font-size: 14px;
	}
}
.title {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	line-height: normal;
	&::after {
		position: absolute;
		content: '';
		display: block;
		height: 2px;
		width: 75px;
		background-color: #000;
		bottom: -3px;
		right: 0;
	}
	@media screen and (max-width: 769px) {
		font-size: 36px;
	}
	@media screen and (max-width: 376px) {
		font-size: 24px;
	}
}

.promo {
	position: relative;
	padding: 75px 0 30px;
	min-height: 100vh;
	background: #010101 url('../img/main_bg.jpg') center/cover no-repeat;
	.btn {
		margin-top: 20px;
	}
	@media screen and (max-width: 769px) {
		background-image: url('../img/tablet_bg.jpg');
	}
	@media screen and (max-width: 376px) {
		padding-top: 50px;
		background-image: url('../img/mobile_bg.jpg');
	}
}
.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light-color);
	@media screen and (max-width: 769px) {
		font-size: 48px;
	}
	@media screen and (max-width: 376px) {
		font-size: 26px;
	}
}
.promo__subtitle {
	margin-top: 124px;
	font-weight: 100;
	font-size: 32px;
	color: var(--light-color);
	@media screen and (max-width: 769px) {
		margin-top: 80px;
	}
	@media screen and (max-width: 376px) {
		margin-top: 30px;
		font-size: 16px;
	}
}
.promo__address {
	position: relative;
	margin-top: 100px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	line-height: normal;
	address {
		font-style: normal;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	&::before {
		position: absolute;
		content: '';
		display: block;
		height: 49px;
		width: 40px;
		left: -45px;
		top: -17px;
		background: url(../icons/arrow.svg) center / contain no-repeat;
	}
	@media screen and (max-width: 769px) {
		margin-top: 80px;
		&::before {
			height: 37px;
			width: 30px;
			left: -30px;
			top: -4px;
		}
	}
	@media screen and (max-width: 750px) {
		&::before {
			display: none;
		}
	}
	@media screen and (max-width: 376px) {
		margin-top: 230px;
	}
}
.keywords {
	position: absolute;
	margin: 0 auto;
	padding: 0 40px;
	height: 20px;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 39px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.04) 0%,
		rgba(255, 255, 255, 0.12) 50%,
		rgba(255, 255, 255, 0.2) 100%
	);
	font-weight: 100;
	font-size: 10px;
	color: var(--light-color);
	overflow: hidden;
}

.about {
	padding: 80px 0 40px;
	background-color: var(--light-color);
	@media screen and (max-width: 769px) {
		padding-bottom: 25px;
	}
	@media screen and (max-width: 376px) {
		padding-top: 50px;
	}
}
.about__title {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark-color);
}
.about__text {
	max-width: 1000px;
	margin-top: 20px;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	span {
		color: #a5a5a5;
	}
	@media screen and (max-width: 769px) {
		font-size: 24px;
	}
	@media screen and (max-width: 376px) {
		font-size: 16px;
	}
}

.services {
	margin-top: 80px;
	display: flex;
	column-gap: 20px;
	@media screen and (max-width: 769px) {
		margin-top: 40px;
		display: block;
	}
	@media screen and (max-width: 376px) {
		margin-top: 20px;
	}
}
.services__list {
	width: 50%;
	color: var(--dark-color);
	font-weight: 400;
	font-size: 16px;
	h3 {
		font-style: italic;
	}
	ul {
		margin-top: 20px;
	}
	li {
		position: relative;
		margin-top: 10px;
		&:first-child::before,
		&:nth-child(3)::before {
			position: absolute;
			content: '';
			width: 15px;
			height: 15px;
			top: 2px;
			left: -30px;
		}
		&:first-child::before {
			background: url('../icons/camera.svg') center / contain no-repeat;
		}
		&:nth-child(3)::before {
			background: url('../icons/edit.svg') center / contain no-repeat;
		}
	}
	@media screen and (max-width: 769px) {
		width: 100%;
	}
	@media screen and (max-width: 700px) {
		li:first-child::before,
		li:nth-child(3)::before {
			display: none;
		}
	}
	@media screen and (max-width: 376px) {
		h3 {
			font-size: 12px;
		}
		li {
			font-size: 14px;
			margin-top: 5px;
		}
	}
}
.services__text {
	width: 50%;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	@media screen and (max-width: 769px) {
		width: 100%;
		margin-top: 40px;
	}
	@media screen and (max-width: 376px) {
		margin-top: 20px;
		font-size: 12px;
	}
}

.portfolio,
.inspiration,
.customers {
	padding: 40px 0;
	background-color: var(--light-color);
	@media screen and (max-width: 769px) {
		padding: 25px 0;
	}
}
.portfolio__grid {
	margin-top: 50px;
	display: grid;
	grid-template: repeat(2, 1fr) 1.5fr / repeat(2, 1fr);
	gap: calc(var(--gap) * 1.66) var(--gap);
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 769px) {
		margin-top: 40px;
	}
	@media screen and (max-width: 581px) {
		grid-template: none / 1fr;
		gap: var(--gap);
	}
}

.inspiration__grid {
	margin-top: 50px;
	display: grid;
	gap: var(--gap);
	grid-template: repeat(2, 1fr) / repeat(4, 1fr);
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 769px) {
		margin-top: 40px;
		grid-template: none / repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-flow: dense;
	}
	@media screen and (max-width: 581px) {
		grid-template: none / 1fr;
	}
}
.inspiration__grid-high {
	grid-column: 4;
	grid-row: 1/3;
	@media screen and (max-width: 769px) {
		grid-column: auto;
		grid-row: span 2;
	}
	@media screen and (max-width: 581px) {
		grid-row: auto;
	}
}
.inspiration__grid-long {
	grid-column: 2/4;
	@media screen and (max-width: 769px) {
		grid-column: span 2;
	}
	@media screen and (max-width: 581px) {
		grid-column: auto;
	}
}

.customers {
	background-color: var(--light-color);
	padding-bottom: 100px;
	@media screen and (max-width: 769px) {
		padding-bottom: 50px;
	}
}
.customers__wrapper {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	img {
		width: calc((100% - var(--gap) * 3) / 4);
		box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 769px) {
		margin-top: 40px;
	}
	@media screen and (max-width: 561px) {
		gap: var(--gap) calc(var(--gap) * 1.66);
		img {
			width: calc((100% - var(--gap) * 1.66) / 2);
		}
	}
	@media screen and (max-width: 376px) {
		margin-top: 30px;
	}
}

footer {
	height: 200px;
	padding: 0 var(--footer-padding-inline);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	address,
	a {
		font-weight: 400;
		font-size: 20px;
		color: var(--light-color);
	}
	address {
		font-style: normal;
	}
	a {
		text-decoration: none;
	}
	@media screen and (max-width: 1024px) {
		flex-direction: column;
		justify-content: center;
		align-items: start;
		row-gap: 30px;
	}
	@media screen and (max-width: 769px) {
		address {
			font-size: 16px;
			text-align: center;
		}
		a {
			font-size: 16px;
			text-align: center;
		}
	}
	@media screen and (max-width: 561px) {
		align-items: center;
		address {
			order: 1;
		}
	}
}
.social {
	display: flex;
	gap: 30px;
	img {
		display: block;
		width: 32px;
		height: 32px;
		border: 1px solid var(--light-color);
		background: transparent;
		padding: 5px;
	}
}
